 
<form (ngSubmit)="submitQuote()" class="card-body ">
  <!--Header-->
  <div class="text-center">

    <!-- <h3 class="white-text"> Add Quote <mdb-icon far icon="arrow-alt-circleDownvotes:0-down"></mdb-icon>
    </h3> -->
    <hr class="hr-light">
  </div>

  <!--Body-->
  <div class="md-form">
    <i class="fas fa-user prefix white-text"></i>
    <input type="text" id="form3" class="form-control " name="publisher" [(ngModel)]="quoteEditor" mdbInput>
    <label for="form3">Person's name</label>
  </div>
  <div class="md-form">
    <i class="fas fa-quote-left prefix white-text"></i>
    <input type="text" id="form2" class="form-control" name="quote" [(ngModel)]="quoteWords" mdbInput>
    <label for="form2">Quotes</label>
  </div>

  <div class="md-form">
    <i class="fas fa-user prefix white-text"></i>
    <input type="text" id="form4" class="form-control" name="author" [(ngModel)]="quoteAuthor" mdbInput>
    <label for="form4">Author</label>
  </div>
  <div class="md-form">
    <i class="far fa-clock prefix white-text"></i>
    <input type='date' id="form5" class="form-control white-text" name="completeDate" [(ngModel)]="quoteDate" mdbInput>
    <label class=" white-text" for="form5">Completion Date</label>
    </div>
    <div class="text-center">
      <button type="submit" mdbBtn color="indigo" class="waves-light btn btn-success" mdbWavesEffect>Post Quote</button>
      <hr class="hr-light mb-3 mt-4">

      <div class="inline-ul text-center d-flex justify-content-center">
        <a class="icons-sm tw-ic px-4" href="https://twitter.com/login"><i class="fab fa-twitter white-text"></i></a>
        <a class="icons-sm li-ic px-4"><i class="fab fa-linkedin-in white-text" href="https://www.linkedin.com/ "> </i></a>
        <a class="icons-sm ins-ic px-4" href="https://www.facebook.com/accounts/login/"><i class="fab fa-facebook white-text"> </i></a>
      </div>
    </div>

</form>