/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
body{
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRtpypCfNZmjFNFDZfAH-nxnksV27BLj6G1AA&usqp=CAU");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    overflow-y: scroll;
 }
